.main {
  flex: 1;
  padding: 2px;
}

.content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.left {
  width: 320px;
}

.right {
  flex: 1;
}

/* Responsive */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }
}
