.container {
  margin: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  h3 {
    font-size: 16px;
  }

  span {
    color: gray;
    font-size: 12px;
  }
}

.table {
  border: 2px solid #ffb800;
  border-radius: 12px;
  overflow: hidden;
}

.rowHead,
.row {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.rowHead {
  background: #fafafa;
  font-weight: bold;
}
